---
import { getState } from "@lib/state"
import Button from "./Button.astro"
const { menuBar } = getState()
---

<footer
  class="flex h-10 justify-between w-full items-center bg-slate-400 border-t border-r border-slate-900"
>
  <section id="start" class="flex">
    <Button id="menu">₪ Menu</Button>
    {
      menuBar.items.map((item, index) => {
        return <Button id={index.toString()}>{item.title}</Button>
      })
    }
  </section>

  <section id="end">
    <Button id="chevron">^</Button>

    <div id="clock"></div>
  </section>
</footer>
