---
import Footer from "@homePage/svelte/Footer.svelte"
import Home from "@homePage/svelte/Home.svelte"
import WindowManager from "@homePage/svelte/window/WindowManager.svelte"
import "@xterm/xterm/css/xterm.css"
import Layout from "../layouts/RetroLayout.astro"
---

<script>
  import { osStore } from "@lib/store"
  // preloading the ascii art
  import { getASCIIArt } from "@lib/utils/getASCIIArt"
  /*  if (localStorage.getItem("FZOSStore")) {
    osStore.update(JSON.parse(localStorage.getItem("FZOSStore")))
  } // this will be part of a loading sequence */


  osStore.subscribe((value) => {
    if (value.enviroment.config.crt) {
      document.getElementById("home-content").classList.add("crt")
      document.getElementById("scan").classList.add("scan-lines")
    } else {
      document.getElementById("home-content").classList.remove("crt")
      document.getElementById("scan").classList.remove("scan-lines")
    }
  })
</script>

<Layout title="FZ-OS">
  <div id="home-content" class="crt">
    <div id="scan" class="scan-lines">
      <main id="main">
        <Home client:only="svelte" />
      </main>
      <Footer client:only="svelte" />

      <WindowManager client:only="svelte" />
    </div>
  </div>
</Layout>
