---
import Footer from "@homePage/Footer.astro"
import Home from "@homePage/svelte/Home.svelte"

import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Astro.">
  <main>
    <Home client:only />
  </main>
  <Footer />
</Layout>
