---
import Footer from "@homePage/svelte/Footer.svelte"
import Home from "@homePage/svelte/Home.svelte"
import WindowManager from "@homePage/svelte/window/WindowManager.svelte"
import "@xterm/xterm/css/xterm.css"
import Layout from "../layouts/Layout.astro"
---

<script>
  /*import { osStore } from "@lib/store"

  if (localStorage.getItem("FZOSStore")) {
    osStore.update(JSON.parse(localStorage.getItem("FZOSStore")))
  } // this will be part of a loading sequence */
</script>

<Layout title="FZ-OS">
  <div id="home-content" class="crt">
    <div class="scan-lines">
      <main id="main">
        <Home client:only />
      </main>
      <Footer client:only />

      <WindowManager client:only />
    </div>
  </div>
</Layout>
