---
import Footer from "@homePage/svelte/Footer.svelte"
import Home from "@homePage/svelte/Home.svelte"
import WindowManager from "@homePage/svelte/WindowManager.svelte"
import "@xterm/xterm/css/xterm.css"
import Layout from "../layouts/Layout.astro"
---

<script>
  import { desktopStore } from "@lib/store"
  if (localStorage.getItem("desktopStore")) {
    desktopStore.update(JSON.parse(localStorage.getItem("desktopStore")))
  } // this will be part of a loading sequence
</script>

<Layout title="Welcome to Astro.">
  <main>
    <Home client:only />
  </main>
  <Footer client:only />

  <WindowManager client:only />
</Layout>

<style>
  .xterm-screen {
    width: 10px;
    height: 100%;
  }
</style>
