---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-16" />
    <meta name="description" content="FZOS - Portifolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="retroStyle.css" />
    <link rel="stylesheet" href="scrollbar.css" />
  </head>
  <body class="flex flex-col justify-between font-display overflow-clip">
    <slot />
  </body>
</html>
